<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concesionario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container mt-5">
      <a th:href="@{/autos/nuevo}" class="btn btn-primary">Agregar Auto</a>
      <h1>Concesionario</h1>
    </div>

    <div class="container mt-5">
        <h2>Autos registrados</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="auto : ${autos}">
                    <td th:text="${auto.id}"></td>
                    <td th:text="${auto.marca}"></td>
                    <td th:text="${auto.modelo}"></td>
                    <td th:text="${auto.anio}"></td>
                    <td th:text="${auto.precio}"></td>
                    <td th:text="${auto.disponible} ? 'Si' : 'No'"></td>
                    <td>
                        <a th:href="@{'/autos/editar/' + ${auto.id}}" class="btn btn-secondary btn-sm">Editar</a>
                        <a th:href="@{'/autos/eliminar/' + ${auto.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </body>
</html>